max_seq_len: 768
acoustic_vocab_size: 2024
phoneme_vocab_size: 47  # comes from phoneme mapping
data:
  locations:
    test_txt: "???"
    phoneme_mapping: "???"
    id_mapping: "???"
    acoustic_tokens_dir: ["???"]
    phoneme_dir: ["???"]
  dataset:
    loaders:
      - cls: "balacoon_train.data.loaders.npz_loader.NpzLoader"
        locations: ${data.locations.acoustic_tokens_dir}
        name: "prompt_acoustic_tokens_npz"
        id_mapping: ${data.locations.id_mapping}

      - cls: "balacoon_train.data.loaders.npz_loader.NpzLoader"
        locations: ${data.locations.phoneme_dir}
        name: "prompt_phoneme_npz"
        id_mapping: ${data.locations.id_mapping}
      - cls: "balacoon_train.data.loaders.npz_loader.NpzLoader"
        locations: ${data.locations.phoneme_dir}
        name: "phoneme_npz"

    processors:
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "prompt_acoustic_tokens"
        npz_name: "acoustic_tokens"
        loader: "prompt_acoustic_tokens_npz"
        type: "int32"
        transpose: true
        to_collate: false
        max_len: ${max_seq_len}
        min_len: 64
        mock: false
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "prompt_phonemes"
        npz_name: "phonemes"
        to_collate: false
        loader: "prompt_phoneme_npz"
        torch: false
        mock: false
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "prompt_starts"
        npz_name: "starts"
        to_collate: false
        loader: "prompt_phoneme_npz"
        type: "float32"
        mock: false
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "prompt_ends"
        npz_name: "ends"
        to_collate: false
        loader: "prompt_phoneme_npz"
        type: "float32"
        mock: false
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "phonemes"
        to_collate: false
        loader: "phoneme_npz"
        torch: false
        mock: false
      - cls: "balacoon_train.data.processors.tts_pred_processor.TTSPredProcessor"
        phoneme_mapping: ${data.locations.phoneme_mapping}
        pad_value: ${acoustic_vocab_size}

  seq_len:
    cls: "balacoon_train.data.seq_len_readers.npz_shape_reader.NpzShapeReader"
    locations: ${data.locations.phoneme_dir}
    stream: "phonemes"
    axis: 0
  batch_size: 1
  num_workers: 1

model:
  cls: "balacoon_train.tts_alm.TTSALMModel"
  max_position_embeddings: ${max_seq_len}