
acoustic_vocab_size: 2024
phoneme_vocab_size: 47  # comes from phoneme mapping

data:
  locations:
    train_txt: "???"
    dev_txt: ""
    phoneme_mapping: "???"
    acoustic_tokens_dir: ["???"]
    phoneme_dir: ["???"]
  dataset:
    loaders:
      - cls: "balacoon_train.data.loaders.npz_loader.NpzLoader"
        locations: ${data.locations.acoustic_tokens_dir}
        name: "acoustic_tokens_npz"
      - cls: "balacoon_train.data.loaders.npz_loader.NpzLoader"
        locations: ${data.locations.phoneme_dir}
        name: "phoneme_npz"
    processors:
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "acoustic_tokens"
        loader: "acoustic_tokens_npz"
        type: "int32"
        transpose: true
        to_collate: false
        max_len: 768   
        min_len: 96
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "phonemes"
        to_collate: false
        loader: "phoneme_npz"
        torch: false
        mock: false
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "starts"
        to_collate: false
        loader: "phoneme_npz"
        type: "float32"
        mock: false
      - cls: "balacoon_train.data.processors.npz_stream_processor.NpzStreamProcessor"
        name: "ends"
        to_collate: false
        loader: "phoneme_npz"
        type: "float32"
        mock: false
      - cls: "balacoon_train.data.processors.tts_train_processor.TTSTrainProcessor"
        phoneme_mapping: ${data.locations.phoneme_mapping}
        pad_value: ${acoustic_vocab_size}

  seq_len:
    cls: "balacoon_train.data.seq_len_readers.npz_shape_reader.NpzShapeReader"
    locations: ${data.locations.acoustic_tokens_dir}
    stream: "acoustic_tokens"
    axis: 1
  batch_size: 4
  num_workers: 8

model:
  cls: "balacoon_train.tts_alm.TTSALMModel"
  phonemes_num: ${phoneme_vocab_size}
  dec_vocab_size: ${acoustic_vocab_size}
  num_steps: 500000  # 10 epochs for libritts
